<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clothing store</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl" ng-cloak>

        <md-toolbar >
            <div class="md-toolbar-tools">
                <span>Clothing Store</span>
                <span flex></span>
                <md-button class="md-raised" aria-label="Checkout" ng-click="checkout()">
                    Checkout
                </md-button>
                <span>Total: {{total}}₪</span>
            </div>
        </md-toolbar>
        <div style="width: 80%;float: left">
        <md-grid-list md-cols="4" md-row-height="320px" md-gutter="40px" class="product-grid">
            <md-grid-tile ng-repeat="product in products">
                <img ng-src="{{product.imageUrl}}" style="width: 320px;height: 320px"/>
                <md-grid-tile-header>
                    <h2>{{product.price}}₪</h2>
                </md-grid-tile-header>
                <md-grid-tile-footer>
                    <md-button class="md-fab md-mini md-primary" aria-label="Add To Cart" ng-click="addToCart(product.price)">
                        <md-icon md-svg-src="images/ic_add_shopping_cart_black_24px.svg" ></md-icon>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
        </div>
        <div style="float:right">
        <md-list>
            <md-list-item ng-repeat="product in cart">
                <h3>{{product.price}}</h3>
            </md-list-item>
        </md-list>
        </div>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="appController.js"></script>
</body>
</html>