.content {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    padding: 10px;
    background-color: white;
    box-shadow: 1px 0 1px #9d9d9d;
    position: relative;
    margin: 10px;
}

.header {

    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 95%;
    padding: 2px;
    align-items: baseline;
    bottom: 11px;
    background-color: #ffffff80;
}

.login{
    padding-top: 70px;
}

.end-screen{
    padding-top: 70px;
}

.price{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10px;
}

.remove-button.md-button.md-fab{
    background-color: #9d9d9d;
}
.remove-button.md-button.md-fab:hover{
    background-color: gray;
}

.fat-btn{
    font-weight: 500;
    font-size: 1.2rem;
}

h1.title{
    font-size: 1.8rem;
}

.toolbar-fixed{
    position: fixed;
    z-index: 1010;

}